/* 
    Document   : audio_main
    Created on : Apr 6, 2014, 9:26:57 AM
    Author     : wiley
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body {
    margin: 0px;    
    width: 100%;
}
ul { 
    list-style      : none;
    margin-left     : 0px; 
    padding-left    : 0px;
} 

.full-page {
    z-index         : -1;
    position        : absolute;
    margin          : 0px;
    background-color: #d9d5d3;
    min-height      : 100%;
    opacity         : 0.8;
}
.page-title {
    width: 100%;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    padding-top: 10px;
}
.sound-clone,
.audio-button {
     display: inline-block;
   width           : 100px;
    height          : 33px;
    background-color: #888;
    border          : 1px solid;
    border-radius   : 2px;
    margin          : 10px;
    text-align: center;
    line-height: 33px;
}

.audio-button:hover {
     background-color: #880000;
}


.mixing-track {
    height: 35px;
    width: 80%;
    margin          : 10px;
    background-color: #ccdede;
}
.mixing-track.empty {
    background-color: #dedede;
}
