/* 
    Document   : audio_main
    Created on : Apr 6, 2014, 9:26:57 AM
    Author     : wiley
    Description: Main less file for master css
*/

@color18    : #181818;
@color21    : #212121;
@color45    : #454545;
@color5     : #555;
@color7     : #777;
@color8     : #888;
@colorA1    : #a1a1a1;
@colorDE    : #dedede;
@colorEB    : #ebebeb;

// Mobile first
@screen-tiny-min : 340px; //just max with
@screen-sm-min : 480px;
@screen-md-min : 768px;
@screen-lg-min : 1024px;


root { 
    display: block;
}

body {
    margin: 0px;    
    width: 100%;
    font-family     : Helvetica, Arial, sans-serif;
    color           : #000;
    background-color: @color18;
}
h1 {
    font-size       : 18px;
    font-size       : 1.8rem;
}
ul { 
    list-style      : none;
    margin-left     : 0px; 
    padding-left    : 0px;
} 

#tn-page-container{
    margin-left:auto;
    margin-right:auto;

    max-width : @screen-lg-min;

    .page-title {
        width           : 100%;
        text-align      : center;
        padding-top     : 10px;
        color           : @colorEB;
    }
    #tn-samples-container {
        .sound-bank-wrap {
            margin      : 5px 4px;
            text-align  : center;
        }
        .sound-item {
            display     : inline-block;
        }
    }
    .sound-clone,
    .audio-button {
        width      : 100px;
        line-height: 20px;
        margin     : 2px;

        &.ui-draggable-dragging {
            opacity     : 0.8; 
        }
    }
    #track-container{
        width           : 100%;
        padding         : 10px;
        color           : @colorEB; 

        .sound-clone {
            opacity         : 0.5; 
        }

        .track-gradiant-off( @start-color : @color45, @end-color : @color8) {
            background      : -webkit-linear-gradient( @start-color, @end-color );
            background      :      -o-linear-gradient( @start-color, @end-color );
            background      :    -moz-linear-gradient( @start-color, @end-color );
            background      :         linear-gradient( @start-color, @end-color ); 
         }

        .mixing-track {
            height          : 35px;
            width           : 100%;
            margin-bottom   : 10px;
            padding         : 0px;
            border          : 1px solid @color45;
            .track-gradiant-off( @color7, @color8 );

           &.track-hover {
                .track-gradiant-off( @color8, @colorA1 );
                border          : 1px solid @colorEB;
            }
        }
        .mixing-track {

            &.empty {
                background-color: @colorDE;
            }
            .indicator {
                height          : 100%;
                width           : 0px;
                border-right    : 1px solid #FFF;
                margin-left     : 0px;
            }
        }
    }

    #tn-controls-container {

        .control-block {
            align           : center;
            color           : @colorDE;

            .player-controls {
                display         : inline-block;
                margin          : 10px;
                 font-size       : 20px;
                 font-size       : 2.0rem;

            }

            .settings {}
        }
    }
}

// Bootstrap over writes

.container-fluid {
    padding : 0px;
}
// end bootstrap over writes


@media (min-width: @screen-sm-min) { 
    body { background-color: @color21; }

    h1 {
        font-size       : 24px;
        font-size       : 2.4rem;
    }
    .container-fluid {
        padding  : 10px 15px;
    }

    #tn-samples-container {
        .sound-item {
            padding-left  : 7px;
            padding-right : 7px;
        }
    }
    #tn-page-container{
        .sound-clone,
        .audio-button {
            width          : 120px;
            margin         : 5px;
        }
    }
}

@media (min-width: @screen-md-min) {
    body { background-color: @color45; }

    h1 {
        font-size       : 32px;
        font-size       : 3.2rem;
    }
    #tn-samples-container {
        .sound-item {
            padding-left  : 17px;
            padding-right : 17px;
        } 
    }
    #tn-page-container{
        .sound-clone,
        .audio-button {
            width          : 140px;
            margin         : 5px 10px;
        }
    }
}

@media (min-width: @screen-lg-min) {
    body { background-color: @color5; }

    h1 {
        font-size       : 48px;
        font-size       : 4.8rem;
    }
    #tn-samples-container {
        .sound-item {
            padding-left  : 0px;
            padding-right : 0px;
        }
    }
    #tn-page-container{
    }

}
